.btn-primary {
  color: #fff;
  background-color: #850dfd;
  border-color: #850dfd;
}

.btn-primary:hover {
  color: #fff;
  background-color: rgb(154, 56, 252);
  border-color: rgb(154, 56, 252);
}

.alert-primary {
  color: #850dfd;
  background-color: #d0a5fc;
  border-color: #7100e2;
}